@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona one' , sans-serif;
    --fonte-secundaria: 'Montserrat' , sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__item {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}
.titulo-destaque:hover {
border: var(--cor-terciaria) outset 5px;


}
.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
    .container__conteudo {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .container__conteudo__titulo {
        font-size: 2.25rem;
        font-family: var(--fonte-primaria);
    }
    .container__conteudo__paragrafo {
        font-size: 1.5rem;
        font-family: var(--fonte-secundaria);
    }
    .container__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
    .container__links__navegacao {
        display: flex;
        justify-content: center;
        gap: 16px;
        background-color: var(--cor-primaria);
        width: 100%;
        text-align: center;
        border: solid 2px var(--cor-terciaria);
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 16px 0;
        text-decoration: none;
        font-family: var(--fonte-secundaria);
        color: var(--cor-secundaria);
    }
.container__links__link:hover {
    background-color: var(--cor-hover);
    padding: 3%;
}

    .container__links__titulo {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
    }

    .container__imagem {
        width: 50%;
    }

    .rodape {
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        padding: 24px;
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
    }


    @media (max-width: 1200px){

        .cabecalho {
            padding: 10%;
        }

        .cabecalho__menu {
            justify-content: center;
        }

        .container {
            flex-direction: column-reverse;
            padding: 5%;
        }

        .container__conteudo {
            width: auto;
        }

    }